<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h1>Create Your Profile</h1>
    <p>Be a part of the Dev Match community and fill out your profile!</p>
    <div class="well">
      <%= form_for @profile, url: user_profile_path, :html => { :class => "form-horizontal" } do |f| %>
        <div class="form-group">
          <%= f.label :first_name, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :first_name, placeholder: "Johnny", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :last_name, placeholder: "Begood", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Location", class: "col-sm-2 control-label" %>
          <div class="col-sm-5">
            <%= f.text_field :location_city, placeholder: "San Francisco", class: "form-control" %>
          </div>
          <div class="col-sm-5">
            <%= f.text_field :location_state, placeholder: "CA", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Role", class: "col-sm-2 control-label" %>
          <div class="col-sm-5">
            <%= f.select :job_title, ["Developer", "Entrepreneur", "Investor"], {prompt: "Choose One..."}, class: "form-control" %>
          </div>
          <div class="col-sm-5">
            <%= f.text_field :job_company, placeholder: "Company Name", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Phone", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :phone_number, placeholder: "(555) 212-1001", class: "form-control" %>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <%= f.label "Email", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :contact_email, value: "#{@default_user_email}", class: "form-control" %>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="helpBlock2" class="help-block text-left">We went ahead and auto-filled this line for you.</span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :website, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                http(s)://
              </span>
              <%= f.text_field :website, placeholder: "porfolio.com", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Github", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                github.com/
              </span>
              <%= f.text_field :social_github, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Twitter", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                @
              </span>
              <%= f.text_field :social_twitter, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Facebook", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                facebook.com/
              </span>
              <%= f.text_field :social_facebook, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "LinkedIn", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                linkedin.com/in/
              </span>
              <%= f.text_field :social_linkedin, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_area :description, placeholder: "Tell everyone about yourself.", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "Update Profile", class: "btn btn-primary" %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>