<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'basic_form', class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>
  
  <%= hidden_field_tag 'plan', params[:plan] %>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
    </div>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation", class: "form-control" %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-md-offset-3 col-md-3">
      <%= f.submit "Sign up", class: "btn btn-success btn-block", id: 'form-submit-btn' %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Cancel', root_path, class: "btn btn-warning btn-block", id: 'form-goback-btn' %>
    </div>
  </div>
<% end %>